## 1.5 Practice Assignment - Operations on strings

### 1). Given a string - 'Today is a sunny day'

#### a). Write a code to extract the words 'Today and â€˜sunny'

#### b). Obtain the last 2 letters - 'ay'

#### c). Write the statement backwards

In [1]:
#define the string 
s= "Today is a sunny day"

In [2]:
# question a
l=s.split()

print(l[0],l[3])

Today sunny

In [3]:
# question b
s[-2:]

'ay'

In [4]:
#question c
s[::-1]

'yad ynnus a si yadoT'

### 2). Concatenate the variables num = 34 and string ='How old are you?'  using '+' operator.

In [5]:
num=34
string='How old are you?'

string + str(num)

'How old are you?34'

## 1.9 Practice Assignment- User input
### 1. Write a program to print the integer and string given, take the input from the user.

#### Integer = 22
#### String = 'Great Learning'

In [6]:
integer=int(input())

22

In [7]:
string=input()

Great Learning

In [8]:
print(integer)
print(string)

22
Great Learning

### 2. Write a program that takes age, name and gender of the user as input

In [9]:
age=int(input('Enter age '))
name=input('Enter name ')
gender=input('Enter gender ')

Enter age 12
Enter name john
Enter gender male

## 1.15 Practice Assignment- List Indexing
**One can not perform element-wise multiplication of lists using the above method.** 

Write a code to retrieve elements from a list:
a. Second last element
b. First three elements 

**Use the below list**

list1 = ['Python', 1, 2, 3, 'Data', True]

**a. Second last element**

In [10]:
#defining the list
list1 = ['Python', 1, 2, 3, 'Data', True]

In [11]:
# question a
list1[-2]

'Data'

**b. First element of list**

In [12]:
#question b
list1[0]

'Python'

## 1.16 Practice Assignment- List Slicing

**One can not perform element-wise multiplication of lists using the above method.** 

**Use the below list**

list1 = ['Python', 1, 2, 3, 'Data', True]

a. Extract first three elements of the list

In [13]:
#defining list
list1 = ['Python', 1, 2, 3, 'Data', True]

In [14]:
# question a
list1[0:3]

['Python', 1, 2]

b. Slice the list from 1st index till the last index with an increment of an index by 2

In [15]:
#question b
list1[::2]

['Python', 2, 'Data']

## 1.17 Practice Assignment- List Methods


Write a program to perform following built-in list operations:

a. Max(list)

b. Sort the elements (Hint: Use sorted() function - sorted(list))

c. Create a copy of a list

d. Remove element '5' from the list

**Use the below list**

list1 = [4, 5, 7, -2, 0, 1]

In [16]:
#defining the list
list1 = [4, 5, 7, -2, 0, 1]

**a. Max(list)**

In [17]:
#question a
max(list1)

7

**b. Sort the elements**

In [18]:
#question b
list1.sort()
list1

[-2, 0, 1, 4, 5, 7]

**c. Create a copy of a list**

In [19]:
#question c
list2=list1.copy()
list2

[-2, 0, 1, 4, 5, 7]

**d. Remove element '5' from the list**

In [20]:
#question d
list1.remove(5)
list1

[-2, 0, 1, 4, 7]

### Manipulating a list:

a. Add elements 'Excel' and 'Data' in the given list

b. Replace an element 'C' with 'C++' in the given list

Use the below list

list1 = ['R', 'Python', 'C', 'Java']

In [21]:
list1 = ['R', 'Python', 'C', 'Java']

**a. Add elements 'Excel' and 'Data' in the given list**

In [22]:
#question a
list1.append('Excel')
list1.append('Data')
list1

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**b. Replace an element 'C' with 'C++' in the given list**

In [23]:
#question b
list1[2]='C++'
list1

['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

## 1.21 Practice Assignment- Tuple Methods
### Tuple manipulations:

  - Q1. Counts the number of occurrences
  - Q2. Replace an element

**Counts the number of occurrences of item 2 from the below tuple:**

**tuple1 = (['a', 1, True], 2, 'Science', -5)**

In [24]:
#defining tuple
tuple1 = (['a', 1, True], 2, 'Science', -5)

In [25]:
#question 1
tuple1.count(2)

1

**a. Add new element '4' to the given tuple**

**Ans:** You cannot add an element in a tuple. They are immutable

**Replace '2' with '3' in tuple1 = (['a', 1, True], 2, 'Science', -5)**

**Ans:** You cannot replace an element in a tuple. They are immutable

## 1.23 Practice Assignment- Dictionary Accessing items
- Q1. Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

dictionary2 = {0:3, 'x':5, 1:2}

In [26]:
#defining dictionary
dictionary2 = {0:3, 'x':5, 1:2}

In [27]:
#question 1
print(dictionary2.keys())
print(dictionary2.values())

dict_keys([0, 'x', 1])
dict_values([3, 5, 2])

- Q2. Write a program to get the value for 'Age' from the dictionary
**Use the dictionary**

dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [28]:
dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

#question 2
dictionary3['Age']

27

## 1.25 Practice Assignment- Dictionary Methods

- Q1. Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

dictionary1 = {1:1, 2:4, 3:9}

In [29]:
dictionary1 = {1:1, 2:4, 3:9}

In [30]:
#question 1
dictionary1[4]=16
dictionary1

{1: 1, 2: 4, 3: 9, 4: 16}

- Q2. Replace the value of one key in the dictionary

**Use the given dictionary and replace the value of 'A'**

dictionary2 = {'A':'Apple', 'O':'Orange', 'G':'Grapes'}

In [31]:
dictionary2 = {'A':'Apple', 'O':'Orange', 'G':'Grapes'}

In [32]:
#question 2
dictionary2['A']='Ape'
dictionary2

{'A': 'Ape', 'G': 'Grapes', 'O': 'Orange'}

## 1.27 Practice Assignment- Conditional Statements

- Q1. Write a program to check whether a given number is multiple of 7 (use if statement)

number = 28

The print statement is executed only if the 'if' condition is true. Else, the print statement is not executed and there will be no output.

In [33]:
number=28

#question 1

if number%7 ==0:
    print('multiple of 7')
else:
    print('Not a multiple of 7')

multiple of 7

- Q2. Write a code to print the maximum of two numbers (use if-else)

x = 55

y = 7

In [34]:
x=55
y=7

#question 2

if(x>y):
    print('Maximum is x')
elif(x<y):
    print('Maximum is y')
else:
    print('equal')

Maximum is x

3. Write a program to check whether a number is positive, negative or zero (use if-elif)

number = 45

In [35]:
number =45

#question 3

if number>0:
    print('positive')
elif number<0:
    print('negative')
else:
    print(0)

positive

## 1.28 Practice Assignment- Loops
- Q1. Write a code to print the letters in the string as upper case letters (use for loop)

string = "python"

In [36]:
string = "python"

#question 1

for i in string:
    print(i.upper())

P
Y
T
H
O
N

- Q2. Write a program to print the numbers less than 100 that are divisible by 4 (use while loop)

In [37]:
#question 2

i=0
while(i<100):
    if(i%4==0):
        print(i)
    i=i+1

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

## 1.29 Practice Assignment- Break and continue

- Q1. Use break statement in while loop to print the integers from 1 to 7

In [38]:
#question 1
i=1
while(True):
    if(i>7):
        break
    print(i)
    i=i+1

1
2
3
4
5
6
7

- Q2. Print all the letters of the string 'GreatLearning' except 't' using a loop

In [39]:
string= 'GreatLearning'

#question 2

for i in string:
    if(i=='t'):
        continue
    print(i)

G
r
e
a
L
e
a
r
n
i
n
g

## 1.30 Practice Assignment- Functions without arguments

- Q1. Define the python function which adds two global numeric variables (1204 and 344536) Without Argument.

In [40]:
var1=1204
var2=344536

#question 1

def f():
    return var1+var2

In [41]:
f()

345740

## 1.31 Practice Assignment- Functions with arguments
- Q1. Define the python function to check whether the number 33 is even or odd

In [42]:
#question 1

def even_odd(num):
    if(num%2==0):
        return 'even'
    else:
        return 'odd'

In [43]:
even_odd(33)

'odd'

- Q2. Define the python function to calculate the factorial of the number

In [44]:
#question 2

def factorial(num):
    if(num==1):
        return 1
    return factorial(num-1)*num

In [45]:
factorial(5)

120

- Q3. Write the python program to get the unique values from the given list

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [46]:
#question 3

def unique(my_list):
    l=[]
    for i in my_list:
        if(i not in l):
            l.append(i)
    return l

In [47]:
my_list = [1,2,3,3,11,34,3,3,4,5]
unique(my_list)

[1, 2, 3, 11, 34, 4, 5]

## 1.33 Practice Assignment- Lambda Functions
- Q1. Find the minimum of the two numbers(34 and 78) using the lambda function

In [48]:
#question 1
min=lambda x,y: x if x<y else y

In [49]:
min(34,78)

34

## 1.34 Practice Assignment- Map and Filters

- Q1. Calculate the square of each element from the given tuple using the map function

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [50]:
number = (11, 21, 30, 34)

#question 1

def square(x):
        return x*x
    
list(map(square,number))

[121, 441, 900, 1156]

- Q2. Read the given sentence and print the length of each word in a sentence in a list using the map function
**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [51]:
sentence = 'Python for Data Science'

#question 2

list(map(len, sentence.split()))

[6, 3, 4, 7]

- Q3. Find the remainder of all the numbers present in a list after dividing by 5

**Use the list given below:**<br>

numbers = [ 74, 85, 14, 23 ]

In [52]:
numbers = [ 74, 85, 14, 23 ]

#question 3

list(map(lambda x:x%5, numbers))

[4, 0, 4, 3]

Q4. Concatenate elements from the list1 with the corresponding element of list2

Use the list given below:

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

In [53]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

# question 4

list2=list(map(str,list2))

list(map(lambda x, y : x + y, list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

- Q5. Find the common elements from the given array using filter method

Use the array given below:

arr1 = ['t','u','t','o','r','i','a','l']

arr2 = ['p','o','i','n','t']

In [54]:
arr1 = ['t','u','t','o','r','i','a','l']

arr2 = ['p','o','i','n','t']

#question 5

list(filter(lambda x: x in arr1, arr2))

['o', 'i', 't']

Q6. Remove odd numbers from the given list

Use the list given below:

numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [55]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

#question 6

list(filter(lambda x: x%2==0,numbers))

[110, 352, 278]